<hr class="my-2">
<p></p>
  <div class=" center-block">
      <center>
<div class="col-8 " >
  <div class="jumbotron">

      <div class="h-100 p-5 bg-white bg-gradient border rounded-3">
    <h2 class="display-8" align="center">Новый заказ</h2>

    <hr>
<p></p>
<p>

<div class="row">
  <div class=" center-block">
      <center>
  <div class="col-7">
      <h4>


      Продукт: <i> <b><%= @product_name %></b> </i>

          </h4>
  </div>
  <div class="col-4">
  </div>

  </center>

</div>
</div>
<hr>

<% if @companies_select.empty? %>




<div class="alert alert-info row" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
  <h4 class="alert-heading">Поставщиков нет</h4>
  <p>Невозможно формить заказ: для данного продукта отсутствуют поставщики </p>
</div>


<% else %>


    <%= form_for :order, url: {action: "create"} do |f| %>

          <h5>
          <div class="row">
            <div class="col-2">
                <%= f.label :cost, "*Поставщик:" %>
            </div>
            <div class="col-3">
                  <%= f.select :cost, @companies_select %>
            </div>

          </div>

          <p>
          <div class="row">

            <div class="col-2">
                <%= f.label :amount, "*Количество:" %>
            </div>
            <div class="col-3">
           <%=  f.number_field :amount, in: 1..999999, step: 1, :value => 1  %>
            </div>

          </div>
          <p>
            <div class="row">

              <div class="col-3">
                Доставлен?:
              </div>
              <div class="col-1">
             <%= f.check_box :delivered %>
              </div>
            </div>
          <p>
            <div class=" center-block">
                <center>
                 <%= submit_tag 'Оформить заказ', class: 'btn btn-success' %>
                   </center>
            </div>
            </h5>
          </div>


    <% end %>


<% end %>




    </div>
</div>
</div>
